### MACNM Computational Workshop No. 1 (Jan. 5 Morning) <br>Python Programming I<br> by Ji Lan

### NOTES

<p>**1. Element:**</p>

    a. Constant:
        i. Int 
        ii. Float
        iii. Bool
        iv. String
    b. Variable:
        i. Assignment
    c. Operator:
        i. Arithmetic
        ii. logic
    d. Expression:
        i. priority

<p>**2. Basic Data structures and Data structures in pandas:**</p>

    a. List
    b. Dictionary
    c. DataFrame

<p>**3. Procedure:**<p>

    a. Sequenctial
    b. Conditional
        i. If-else
    c. Iterative

### CODE

<p>**1. Elements:**</p>

<p>a. Constants:</p>

In [31]:
# int constant:
print (5)
print (type(5))

5
<class 'int'>

In [32]:
#float constant
print (5.0)
print (3.2)
print (type(5.0))

5.0
3.2
<class 'float'>

In [33]:
#(int + float = float) constants
print (5+5.0)
print (type(5+5.0))

10.0
<class 'float'>

In [34]:
#bool
print (True)
print (type(True))

True
<class 'bool'>

In [35]:
#string constant
print ("Computational Workshop")
print (type("Computational Workshop"))

Computational Workshop
<class 'str'>

In [36]:
#translate int, string, and float constants by int(), str(), and float()
str(3)
str(3.0)
int("3")
int(3.0)
float(3)
float("3")

3.0

b. Variable

In [37]:
#assign int constant to int variable
sex = 1
print (type(sex))

<class 'int'>

In [38]:
#assign float constant to float variable
height = 3.1
print (type(height))

<class 'float'>

In [39]:
#assign string constant to string variable
word = "happy"
print (type(word))

<class 'str'>

In [40]:
#assign a variable to another variable
height = 3.1
a = height
print (a)

3.1

c&d. Operator & Expression

In [41]:
# constant1 + constant2
print (8.9 + 9.2)

18.1

In [42]:
# variable1 + variable2
height1 = 8.9
height2 = 9.2
print (height1 + height2)

18.1

In [43]:
# constant1 + constant2/constant3
print (3+4/2)

5.0

In [44]:
# constant1 == constant2
print (1 == 2)
print (type(1 == 2))

False
<class 'bool'>

In [45]:
# constant1 < constant2
print (1 < 2)
print (type(1 < 2))

True
<class 'bool'>

In [46]:
# constant1 < constant2 and constant1 < constant3
print (1 < 2 and 1 < 0)
print (type(1 < 2 and 1 < 0))

False
<class 'bool'>

In [47]:
# assign an expression to a variable
sumHeight = height1 + height2 #or 8.9 + 9.2
print (sumHeight)

ratioHeight = height1/height2 #or 8.9/9.2
print (ratioHeight)

equal = 1 == 1
print (equal)

18.1
0.9673913043478262
True

<p>**2. Data structures in pandas:**</p>

In [48]:
import pandas as pd
import numpy as np

a. List

In [49]:
one_dimension_list = [1,2,3,4,5]
two_dimension_list = [[1,2,3],[4,5,6],[7,8,9]]

b. Dictionary

In [50]:
one_dimension_dictionary = {"Math": 98, "Chinese": 99, "English": 87, "Music": 77}
two_dimension_dictionary = {"Math": {"first": 96, "second": 87, "third": 86}, "Chinese": {"first": 91, "second": 76, "third": 98}}

In [51]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

c. DataFrame

In [89]:
#Create a DataFrame from a dictionary of lists
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
print (df)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [94]:
#pandas.read_excel
df = pd.read_excel("tweet_en_anony.xlsx")
# print (df)
print (df.head())

                 GUID          Date (HKT)  \
0  201504835877605408 2012-05-13 10:51:11
1    9805916782202880 2010-12-01 11:08:07
2  435352986026786816 2014-02-17 18:00:14
3  579954355085803520 2015-03-23 18:34:27
4  136762160100548608 2011-11-16 19:06:54

                                                 URL  \
0  http://twitter.com/MisterBearBear/status/20150...
1  http://twitter.com/jeromyu/status/980591678220...
2  http://twitter.com/FDTLIRL/status/435352986026...
3  http://twitter.com/PPSSHK/status/5799543550858...
4  http://twitter.com/noreenwelch/status/13676216...

                                            Contents           Country  \
0  I'm at City University of Hong Kong 香港城市大學 (Ko...  Hong Kong S.A.R.
1  I'm at City University of Hong Kong 香港城市大學 (81...  Hong Kong S.A.R.
2  City University of Hong Kong makes major enter...           Ireland
3  feeling exhausted at City University of Hong K...  Hong Kong S.A.R.
4  Mr Mugabe made the comments as he attended his...       New Zealand

   State/Region City/Urban Area Category       Emotion   Source Gender  Posts  \
0  Kowloon City       Hong Kong  Neutral       Neutral  Twitter      M    NaN
1           NaN             NaN  Neutral       Neutral  Twitter      M    NaN
2        Dublin          Dublin  Neutral       Neutral  Twitter    NaN  437.0
3  Kowloon City       Hong Kong  Neutral       Neutral  Twitter    NaN  139.0
4           NaN             NaN  Neutral  Unclassified  Twitter      F    NaN

   Followers  Following Post Type  author_anonymous
0        NaN        NaN     Tweet              1385
1        NaN        NaN     Tweet              1386
2       28.0       40.0     Tweet              1387
3       11.0       56.0     Tweet              1388
4        NaN        NaN     Tweet              1389

In [95]:
#pandas.read_csv
df = pd.read_csv("user_profiles_en_anony.csv")
print (df.head())

   user_name  user_statuses_count  user_followers_count  user_friends_count  \
0       1385                 2037                   126                 130
1       1386                59032                  1768                2235
2       1386                59032                  1768                2235
3       1387                  915                    53                  54
4       1388                  270                    14                  57

   user_verified  user_utc_offset     user_location user_lang  user_time_zone  \
0          False              NaN         Hong Kong        en             NaN
1          False              NaN  Hongkong am Hell        en             NaN
2          False              NaN  Hongkong am Hell        en             NaN
3          False              NaN   Dublin, Ireland        en             NaN
4          False              NaN         Hong Kong        en             NaN

   user_created_at_timestamp  user_protected  \
0               1.237883e+09           False
1               1.187550e+09           False
2               1.187550e+09           False
3               1.357620e+09           False
4               1.382507e+09           False

                                    user_description user_gender  \
0  Hongkonger. Ham Operator. Gamer. Runner. Hiker...           M
1  Merry prankster of the Hong Kong media scene, ...           M
2  Merry prankster of the Hong Kong media scene, ...           M
3  FTL Group (Technologies) Limited is a Micro Fo...         NaN
4  counselling, family, depression, treatment, ps...         NaN

       user_country    user_state  user_city
0  Hong Kong S.A.R.  Kowloon City  Hong Kong
1  Hong Kong S.A.R.           NaN        NaN
2  Hong Kong S.A.R.  Kowloon City  Hong Kong
3           Ireland        Dublin     Dublin
4  Hong Kong S.A.R.  Kowloon City  Hong Kong

In [96]:
#DataFrame.to_csv
df.to_csv("New.csv")

In [97]:
#DataFrame.to_excel
df.to_excel("New.xls")

In [111]:
#Create a DataFrame from a dictionary of lists and specify the column order
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
print (df)
df.columns =  ["year", "pop", "state"]
print (df)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
     year   pop  state
0    Ohio  2000    1.5
1    Ohio  2001    1.7
2    Ohio  2002    3.6
3  Nevada  2001    2.4
4  Nevada  2002    2.9

In [114]:
#Create a DataFrame from a dictionary of lists and specify the row index
print (df)
df.index =  ["one", "two", "three", "four","five"]
print (df)

     year   pop  state
0    Ohio  2000    100
1    Ohio  2001    100
2    Ohio  2002    100
3  Nevada  2001    100
4  Nevada  2002    100
         year   pop  state
one      Ohio  2000    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

In [106]:
#Read the shape of a DataFrame
print (df.shape)

(5, 3)

In [107]:
#Read the variables (column titles)
print (df.columns)

Index(['state', 'year', 'pop'], dtype='object')

In [108]:
#Read a column of a DataFrame
Column1 = df["state"]
Column2 = df.state
print (Column1)
print (Column2)

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [112]:
# Assign a column with a list or a value
print(df)
df["state"] = [0,1,2,3,4]
print(df)
df["state"] = 100
print(df)

     year   pop  state
0    Ohio  2000    1.5
1    Ohio  2001    1.7
2    Ohio  2002    3.6
3  Nevada  2001    2.4
4  Nevada  2002    2.9
     year   pop  state
0    Ohio  2000      0
1    Ohio  2001      1
2    Ohio  2002      2
3  Nevada  2001      3
4  Nevada  2002      4
     year   pop  state
0    Ohio  2000    100
1    Ohio  2001    100
2    Ohio  2002    100
3  Nevada  2001    100
4  Nevada  2002    100

In [116]:
#Read the index (row titles)
print (df.index)

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [120]:
#Read a row of a DataFrame
Row1 = df.loc["one"]
print (Row1)
Row2 = df.iloc[0]
print (Row2)

year     Ohio
pop      2000
state     100
Name: one, dtype: object
year     Ohio
pop      2000
state     100
Name: one, dtype: object

In [121]:
#Assign a row with a list or a value
print (df)
df.loc["one"] = [0,1,2]
print(df)
df.loc["one"] = 100
print(df)

         year   pop  state
one      Ohio  2000    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100
         year   pop  state
one         0     1      2
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100
         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

In [122]:
# Transpose a DataFrame
print (df.T)
...

       one   two three    four    five
year   100  Ohio  Ohio  Nevada  Nevada
pop    100  2001  2002    2001    2002
state  100   100   100     100     100

Ellipsis

In [129]:
print(df)
print()
# df.loc[row_name, column_name]
print(df.loc["one","year":"pop"])
print()

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

year    100
pop     100
Name: one, dtype: object

In [130]:
# Select columns directly
print(df.loc[:,"year":"pop"])

         year   pop
one       100   100
two      Ohio  2001
three    Ohio  2002
four   Nevada  2001
five   Nevada  2002

In [127]:
# Select rows directly
print(df)
print ()
print(df.loc[["one","three"],:])
print ()
print (df.iloc[1:3,:]) #1:3 ->2:3
print ()

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

       year   pop  state
one     100   100    100
three  Ohio  2002    100

       year   pop  state
two    Ohio  2001    100
three  Ohio  2002    100

In [134]:
# Select rows by specifying a value of a column
print(df)
print()
row_conditions = df.loc[:, "pop"] == 2001
print (df.loc[row_conditions, :])

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

        year   pop  state
two     Ohio  2001    100
four  Nevada  2001    100

In [139]:
# Select rows by specifying a value interval of a column
print(df)
print ()
row_conditions = df.loc[:, "pop"] >= 2001
print (df.loc[row_conditions, :])

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

         year   pop  state
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

<p>**3. Procedures:**<p>

In [143]:
#Sequential
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
df = pd.DataFrame(data)
print ("1")
#2 
df = pd.DataFrame(data).loc[0:3]
print ("2")
#3
df = pd.DataFrame(data).loc[0:1]
print ("3")

1
2
3

In [146]:
#Conditional, If-else
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
df = pd.DataFrame(data)
print (df.shape)
print ("1")
if df.shape[0] < 4:
#2    
    df = pd.DataFrame(data).loc[0:3]
    print ("2")
else:
#3
    df = pd.DataFrame(data).loc[0:1]
    print ("3")

(5, 3)
1
3

In [149]:
#iterative, for
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1
df = pd.DataFrame(data)
print (df)
print ("1")

for item in df["state"]:
#2,3,4,5,……
    print (item)
    print

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
1
Ohio
Ohio
Ohio
Nevada
Nevada

In [160]:
df = pd.read_csv("user_profiles_en_anony.csv")
print (df)
# for item in df["user_name"]:
#     if item < 500 and item > 200:
#         print (item)

353
307
443
204
204
267

### Practice

In [75]:
# 1
# [[1,2,3],[4,5,6],[7,8,9]]
# Turn the Dictory above into DataFrame and print the DataFrame

In [76]:
# 2
# {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
# Turn the Dictory above into DataFrame and use the index ["I", "II", "III", "IV", "V"]

In [77]:
# 3
# Read user_profiles_ch_anony.csv as DataFrame df and print the first 3 rows of df

In [78]:
# 4
# Read the shape of df and print it

In [79]:
# 5
# Read the variables(column titles) of df and print them

In [80]:
# 6
# Read column "user_statuses_count" of df in two ways and print the column

In [81]:
# 7
# Read the index of df and print it

In [82]:
# 8
# Read the 55th row of df (Note: the index number of 55th is 54 as the index number begins at 0)

In [83]:
# 9
# Transpose df and print the first 3 rows

In [84]:
# 10
# Select columns "user_statuses_count", "user_lang", and "user_followers_count" and print the first 3 rows

In [85]:
# 11
# Select the 95-100th items and print them

In [86]:
# 12
# Select items whose "user_statuses_count" is above 10000 and print them

In [87]:
# 13
# Select items whose "user_statuses_count" is between 10000 and 10500 and print them

In [88]:
# 14
# Print "user_statuses_count"  values of the items whose "user_statuses_count" is between 10000 and 10500 without using loc (prompt: using if and for)