### MACNM Computational Workshop No. 1 (Jan. 5 Morning) <br>Python Programming I<br> by Ji Lan

### NOTES

<p>**1. Element:**</p>

    a. Constant:
        i. Int 
        ii. Float
        iii. Bool
        iv. String
    b. Variable:
        i. Assignment
    c. Operator:
        i. Arithmetic
        ii. logic
    d. Expression:
        i. priority

<p>**2. Basic Data structures and Data structures in pandas:**</p>

    a. List
    b. Dictionary
    c. DataFrame

<p>**3. Procedure:**<p>

    a. Sequenctial
    b. Conditional
        i. If-else
    c. Iterative

### CODE

<p>**1. Elements:**</p>

<p>a. Constants:</p>

In [17]:
# int constant:
print (5)
print (type(5))

5
<class 'int'>

In [18]:
#float constant
print (5.0)
print (type(5.0))

5.0
<class 'float'>

In [19]:
#(int + float = float) constants
print (5+5.0)
print (type(5+5.0))

10.0
<class 'float'>

In [20]:
#string constant
print ("Computational Workshop")
print (type("Computational Workshop"))

Computational Workshop
<class 'str'>

In [21]:
#translate int, string, and float constants by int(), str(), and float()
str(3)
str(3.0)
int("3")
int(3.0)
float(3)
float("3")

3.0

b. Variable

In [22]:
#assign int constant to int variable
sex = 1
print (type(sex))

<class 'int'>

In [23]:
#assign float constant to float variable
height = 3.1
print (type(height))

<class 'float'>

In [24]:
#assign string constant to string variable
word = "happy"
print (type(word))

<class 'str'>

In [25]:
#assign a variable to another variable
height = 3.1
a = height
print (a)

3.1

c&d. Operator & Expression

In [26]:
# constant1 + constant2
print (8.9 + 9.2)

18.1

In [27]:
# variable1 + variable2
height1 = 8.9
height2 = 9.2
print (height1 + height2)

18.1

In [28]:
# constant1 + constant2/constant3
print (3+4/2)

5.0

In [29]:
# constant1 == constant2
print (1 == 2)
print (type(1 == 2))

False
<class 'bool'>

In [30]:
# constant1 < constant2
print (1 < 2)
print (type(1 < 2))

True
<class 'bool'>

In [31]:
# constant1 < constant2 and constant1 < constant3
print (1 < 2 and 1 < 0)
print (type(1 < 2 and 1 < 0))

False
<class 'bool'>

In [32]:
# assign an expression to a variable
sumHeight = height1 + height2 #or 8.9 + 9.2
print (sumHeight)

ratioHeight = height1/height2 #or 8.9/9.2
print (ratioHeight)

equal = 1 == 1
print (equal)

18.1
0.9673913043478262
True

<p>**2. Data structures in pandas:**</p>

In [33]:
from pandas import DataFrame, Series
import numpy as np
import pandas as pd

a. List

In [34]:
one_dimension_list = [1,2,3,4,5]
two_dimension_list = [[1,2,3],[4,5,6],[7,8,9]]

b. Dictionary

In [35]:
one_dimension_dictionary = {"Math": 98, "Chinese": 99, "English": 87, "Music": 77}
two_dimension_dictionary = {"Math": {"first": 96, "second": 87, "third": 86}, "Chinese": {"first": 91, "second": 76, "third": 98}}

In [36]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

c. DataFrame

In [37]:
#IO

In [38]:
#pandas.read_excel
df = pd.read_excel("tweet_en_anony.xlsx")
print (df.head())

                 GUID          Date (HKT)  \
0  201504835877605408 2012-05-13 10:51:11
1    9805916782202880 2010-12-01 11:08:07
2  435352986026786816 2014-02-17 18:00:14
3  579954355085803520 2015-03-23 18:34:27
4  136762160100548608 2011-11-16 19:06:54

                                                 URL  \
0  http://twitter.com/MisterBearBear/status/20150...
1  http://twitter.com/jeromyu/status/980591678220...
2  http://twitter.com/FDTLIRL/status/435352986026...
3  http://twitter.com/PPSSHK/status/5799543550858...
4  http://twitter.com/noreenwelch/status/13676216...

                                            Contents           Country  \
0  I'm at City University of Hong Kong é¦™æ¸¯åŸŽå¸‚å¤§å­¸ (Ko...  Hong Kong S.A.R.
1  I'm at City University of Hong Kong é¦™æ¸¯åŸŽå¸‚å¤§å­¸ (81...  Hong Kong S.A.R.
2  City University of Hong Kong makes major enter...           Ireland
3  feeling exhausted at City University of Hong K...  Hong Kong S.A.R.
4  Mr Mugabe made the comments as he attended his...       New Zealand

   State/Region City/Urban Area Category       Emotion   Source Gender  Posts  \
0  Kowloon City       Hong Kong  Neutral       Neutral  Twitter      M    NaN
1           NaN             NaN  Neutral       Neutral  Twitter      M    NaN
2        Dublin          Dublin  Neutral       Neutral  Twitter    NaN  437.0
3  Kowloon City       Hong Kong  Neutral       Neutral  Twitter    NaN  139.0
4           NaN             NaN  Neutral  Unclassified  Twitter      F    NaN

   Followers  Following Post Type  author_anonymous
0        NaN        NaN     Tweet              1385
1        NaN        NaN     Tweet              1386
2       28.0       40.0     Tweet              1387
3       11.0       56.0     Tweet              1388
4        NaN        NaN     Tweet              1389

In [39]:
#pandas.read_csv
df = pd.read_csv("user_profiles_en_anony.csv")
print (df.head())

   user_name  user_statuses_count  user_followers_count  user_friends_count  \
0       1385                 2037                   126                 130
1       1386                59032                  1768                2235
2       1386                59032                  1768                2235
3       1387                  915                    53                  54
4       1388                  270                    14                  57

   user_verified  user_utc_offset     user_location user_lang  user_time_zone  \
0          False              NaN         Hong Kong        en             NaN
1          False              NaN  Hongkong am Hell        en             NaN
2          False              NaN  Hongkong am Hell        en             NaN
3          False              NaN   Dublin, Ireland        en             NaN
4          False              NaN         Hong Kong        en             NaN

   user_created_at_timestamp  user_protected  \
0               1.237883e+09           False
1               1.187550e+09           False
2               1.187550e+09           False
3               1.357620e+09           False
4               1.382507e+09           False

                                    user_description user_gender  \
0  Hongkonger. Ham Operator. Gamer. Runner. Hiker...           M
1  Merry prankster of the Hong Kong media scene, ...           M
2  Merry prankster of the Hong Kong media scene, ...           M
3  FTL Group (Technologies) Limited is a Micro Fo...         NaN
4  counselling, family, depression, treatment, ps...         NaN

       user_country    user_state  user_city
0  Hong Kong S.A.R.  Kowloon City  Hong Kong
1  Hong Kong S.A.R.           NaN        NaN
2  Hong Kong S.A.R.  Kowloon City  Hong Kong
3           Ireland        Dublin     Dublin
4  Hong Kong S.A.R.  Kowloon City  Hong Kong

In [40]:
#Create a DataFrame from a dictionary of lists
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print (frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [41]:
#DataFrame.to_csv
frame.to_csv("New.csv")

In [42]:
#DataFrame.to_excel
frame.to_excel("New.xls")

In [43]:
#Create a DataFrame from a dictionary of lists and specify the column order
frame = DataFrame(data, columns = ["year", "pop", "state"])
print (frame)

   year  pop   state
0  2000  1.5    Ohio
1  2001  1.7    Ohio
2  2002  3.6    Ohio
3  2001  2.4  Nevada
4  2002  2.9  Nevada

In [44]:
#Create a DataFrame from a dictionary of lists and specify the row index
frame = DataFrame(data, columns = ["year", "pop", "state"], index=['one', 'two', 'three', 'four', 'five'])
print (frame)

       year  pop   state
one    2000  1.5    Ohio
two    2001  1.7    Ohio
three  2002  3.6    Ohio
four   2001  2.4  Nevada
five   2002  2.9  Nevada

In [45]:
#Read the shape of a DataFrame
print (frame.shape)

(5, 3)

In [46]:
#Read the variables (column titles)
print (frame.columns)

Index(['year', 'pop', 'state'], dtype='object')

In [47]:
#Read a column of a DataFrame
Column1 = frame["state"]
Column2 = frame.state
print (Column1)
print (Column2)

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [48]:
# Assign a column with a list or a value
frame["state"] = [0,1,2,3,4]
print(frame)
frame["state"] = 100
print(frame)

       year  pop  state
one    2000  1.5      0
two    2001  1.7      1
three  2002  3.6      2
four   2001  2.4      3
five   2002  2.9      4
       year  pop  state
one    2000  1.5    100
two    2001  1.7    100
three  2002  3.6    100
four   2001  2.4    100
five   2002  2.9    100

In [49]:
#Read the index
print (frame.index)

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [50]:
#Read a row of a DataFrame
Row1 = frame.loc["one"]
print (Row1)
Row2 = frame.iloc[0,:]
print (Row2)

year     2000.0
pop         1.5
state     100.0
Name: one, dtype: float64
year     2000.0
pop         1.5
state     100.0
Name: one, dtype: float64

In [51]:
#Assign a row with a list or a value
frame.loc["one"] = [0,1,2]
print(frame)
frame.loc["one"] = 100
print(frame)

       year  pop  state
one       0  1.0      2
two    2001  1.7    100
three  2002  3.6    100
four   2001  2.4    100
five   2002  2.9    100
       year    pop  state
one     100  100.0    100
two    2001    1.7    100
three  2002    3.6    100
four   2001    2.4    100
five   2002    2.9    100

In [52]:
# Transpose a DataFrame
print (frame.T)
...

         one     two   three    four    five
year   100.0  2001.0  2002.0  2001.0  2002.0
pop    100.0     1.7     3.6     2.4     2.9
state  100.0   100.0   100.0   100.0   100.0

Ellipsis

In [53]:
# Select columns directly
print(frame)
print(frame.loc[:,"year":"pop"])

       year    pop  state
one     100  100.0    100
two    2001    1.7    100
three  2002    3.6    100
four   2001    2.4    100
five   2002    2.9    100
       year    pop
one     100  100.0
two    2001    1.7
three  2002    3.6
four   2001    2.4
five   2002    2.9

In [54]:
# Select items directly
print(frame)
print(frame.loc[["one","three"],:])
print (frame.iloc[1:3,:])

       year    pop  state
one     100  100.0    100
two    2001    1.7    100
three  2002    3.6    100
four   2001    2.4    100
five   2002    2.9    100
       year    pop  state
one     100  100.0    100
three  2002    3.6    100
       year  pop  state
two    2001  1.7    100
three  2002  3.6    100

In [55]:
# Select items by specifying a value of a column
print(frame)
item_conditions = frame.loc[:, "year"] == 2001
print (item_conditions)
print (frame.loc[item_conditions, :])

       year    pop  state
one     100  100.0    100
two    2001    1.7    100
three  2002    3.6    100
four   2001    2.4    100
five   2002    2.9    100
one      False
two       True
three    False
four      True
five     False
Name: year, dtype: bool
      year  pop  state
two   2001  1.7    100
four  2001  2.4    100

In [56]:
# Select items by specifying a value interval of a column
print(frame)
item_conditions = frame.loc[:, "year"] > 100
print (item_conditions)
print (frame.loc[item_conditions, :])

       year    pop  state
one     100  100.0    100
two    2001    1.7    100
three  2002    3.6    100
four   2001    2.4    100
five   2002    2.9    100
one      False
two       True
three     True
four      True
five      True
Name: year, dtype: bool
       year  pop  state
two    2001  1.7    100
three  2002  3.6    100
four   2001  2.4    100
five   2002  2.9    100

<p>**3. Procedures:**<p>

In [57]:
#Sequential
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
frame = DataFrame(data)
#2 
frame = DataFrame(data).loc[0:3]
print ("#2")
#3
frame = DataFrame(data).loc[0:1]
print ("#3")
print (frame)

#2
#3
  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7

In [58]:
#Conditional, If-else
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
frame = DataFrame(data)
if frame.shape[0] < 4:
#2    
    frame = DataFrame(data).loc[0:3]
    print ("#2")
else:
#3
    frame = DataFrame(data).loc[0:1]
    print ("#3")
print (frame)

#3
  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7

In [59]:
#iterative, for
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1
frame = DataFrame(data)
print (frame)
for item in frame.loc[:,"state"]:
#2,3,4,5,â€¦â€¦
    print (item)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
Ohio
Ohio
Ohio
Nevada
Nevada

In [68]:
df = pd.read_csv("user_profiles_en_anony.csv")
for item in df["user_name"]:
    if item > 6000:
        print (item)

user_name                           6147
user_statuses_count                14714
user_followers_count                 134
user_friends_count                   284
user_verified                      False
user_utc_offset                      NaN
user_location                     Perock
user_lang                             en
user_time_zone                       NaN
user_created_at_timestamp    1.51159e+09
user_protected                     False
user_description                       ðŸ‘…
user_gender                          NaN
user_country                    Malaysia
user_state                           NaN
user_city                            NaN
Name: 1459, dtype: object

### Practice

In [ ]:
# 1
# [[1,2,3],[4,5,6],[7,8,9]]
# Turn the Dictory above into DataFrame and print the DataFrame

In [ ]:
# 2
# {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
# Turn the Dictory above into DataFrame and use the index ["I", "II", "III", "IV", "V"]

In [ ]:
# 3
# Read user_profiles_ch_anony.csv as DataFrame df and print the first 3 rows of df

In [ ]:
# 4
# Read the shape of df and print it

In [ ]:
# 5
# Read the variables(column titles) of df and print them

In [ ]:
# 6
# Read column "user_statuses_count" of df in two ways and print the column

In [ ]:
# 7
# Read the index of df and print it

In [ ]:
# 8
# Read the 55th row of df (Note: the index number of 55th is 54 as the index number begins at 0)

In [ ]:
# 9
# Transpose df and print the first 3 rows

In [ ]:
# 10
# Select columns "user_statuses_count", "user_lang", and "user_followers_count" and print the first 3 rows

In [ ]:
# 11
# Select the 95-100th items and print them

In [ ]:
# 12
# Select items whose "user_statuses_count" is above 10000 and print them

In [ ]:
# 13
# Select items whose "user_statuses_count" is between 10000 and 10500 and print them

In [ ]:
# 14
# Print "user_statuses_count"  values of the items whose "user_statuses_count" is between 10000 and 10500 without using loc (prompt: using if and for)